html, body {
  display: block;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: rgb(225, 225, 225);
}

.page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  width: 90%;
}

.logo.app {
  max-width: 128px;
  display: block;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  font-family: sans-serif;
}

form {
  overflow: hidden;
  position: relative;
  margin-top: 3em;
}
form label {
  display: block;
  width: 40%;
  padding: 0 2%;
  float: left;
  text-align: left;
  font-family: sans-serif;
  font-size: 1.1em;
}
form input[type="text"],
form input[type="email"] {
  margin: 0.25em 0 0.5em;
  display: block;
  padding: 0.5em;
  width: 92%;
  box-shadow: 0;
  font-size: 1.15em;
  outline: none;
  background: rgba(255, 255, 255, 0.25);
  border: 2px solid white;
  border-style: none none solid none;
}
form input[type="submit"] {
  display: block;
  padding: 0;
  width: 4.5em;
  height: 4.5em;
  border-radius: 100%;
  border: 3px solid rgb(0, 170, 0);
  background: white;
  
  font-weight: bold;
  color: rgb(0, 170, 0);
  box-shadow: none;
  outline: none;
  
  transition: all 100ms linear;
  
  position: absolute;
  right: 0;
  bottom: 0;
}
form input[type="submit"]:hover {
  color: white;
  background: rgb(0, 170, 0);
}
form input[type="submit"]:active {
  background: rgb(0, 130, 0);
  border-color: rgb(0, 130, 0);
}

.footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px;
  color: white;
  font-family: sans-serif;
}

.footer .logo {
  float: right;
  margin: -0.75em 8px 8px;
  max-height: 32px;
}
